*{


	padding: 0;
	margin:0;
	box-sizing: border-box;
	font-family: verdana;


}
body{

	background-color: black;
	width: 100%;
 	  display: flex;
  flex-wrap: wrap;
   justify-content:center;
} 

 
#menu1{

background-color: #292929;


}

#btn{

	box-shadow: 1px 1px 5px 0px black;
		background-color: #292928;
			width: 100%;
 
}
#btns{

	background-color: #292929;

}

#btn1{

color:white;

}

#btn2{

color:white;

}

 
 

#menum{

		background-color: #292929;
			width: 100%;

}

 #mostra1, #mostra2, #mostra3{
max-width: 400px;
  
 }
 
 article{

  
  display: flex;
  flex-wrap: wrap;
   justify-content:center;
  
  }	

  .sub1{

  	width: 100%;
  	  display: flex;
  flex-wrap: wrap;
   justify-content:center;
 
  	height: 40px;
  	 
  	background-color: #292929;
  	text-align: center;
  	color: black;
 
  	font-family: verdana;
  	font-size: 18px;
	 
  }
#gui{

	 background-color: black;
}
.card-text{

	text-align: center;
}
.sec1{

	border-top: 50px solid transparent;

  display: flex;
  flex-wrap: wrap;
   justify-content:center;
   flex-direction: row;
   width: 100%;
           justify-content: space-around;

 }
 .sec2{

	border-top: 150px solid transparent;

  display: flex;
  flex-wrap: wrap;
   justify-content:center;
   flex-direction: row;
   width: 100%;
           justify-content: space-around;

 }


 .sec3{

	border-top: 150px solid transparent;

  display: flex;
  flex-wrap: wrap;
   justify-content:center;
   flex-direction: row;
   width: 100%;
           justify-content: space-around;

 }
  .sec4{

 
  display: flex;
  flex-wrap: wrap;
   justify-content:center;
   flex-direction: row;
   width: 100%;
           justify-content: space-around;

 }

 .card{
 	background-color: #292929;
 	color:white;

 }

 #citacao{

 	margin-top: 40px;
   display: flex;
   width: 100%;
 
 
 

 }

 footer{

 
  display: flex;
  flex-wrap: wrap;
   justify-content:center;
   flex-direction: row;
   width: 100%;
           justify-content: space-around;

           margin-top: 50px;
 

 }

#btnv{

	color:black ;
	background-color:#2F4F4F;

 }

 .tronco{
  display: flex;
  flex-wrap: wrap;
   justify-content:center;
   flex-direction: row;
            justify-content: space-around;


            margin-top: 100px;
 }
 .card-header, .card-title,#voltar{

 	text-align: center;
 }
